html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  background: #000;
  min-height: 100%;
}
p {
  color: #fff;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: justify;
}
.hidden{
  display: none;
}
#parallelogram {
  width: 50vh;
  height: 100vh;
  float: left;
  left: -5%;
  position: relative;
  -webkit-shape-margin: 50px;
  -webkit-transform: skew(0.171rad);
  -moz-transform: skew(0.171rad);
  -o-transform: skew(0.171rad);
  background: #fff;
}
h1 {
  font-family: 'Abril Fatface';
  margin: 0;
  margin-left: 100px;
  z-index: 1;
}
h2{
  color:white;
}
p {
  font-family: 'PT Mono';
}
a{
  position: absolute;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}
a.navs {
  
  color: #000;
  font-family: 'PT Mono';
  line-height: 100px;
  
  width: 100%;
  height: 100px;
  
  
  font-size: 1.25em;
}
a.enter{
  font-family: 'Abril Fatface';
  margin: 0;
  margin-left: 15px;
  z-index: 1;

}
a:active {
  background-color: #000;
  color: #fff;
    text-decoration: none;
}
a:hover{
  text-decoration: none;
  background-color: #000;
  color: #fff; 

}
li {
  transform: skew(-0.171rad);
/*height 0*/
  position: relative;
}
/*margin-top200px*/
.clicked {
  background-color: #000;
  color: #fff;
}
.wrap {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0 20px;
  overflow: scroll;
  font-size: 1.25em;
  line-height: 30px;
}
.half1 {
  float: left;
  width: 50%;
  height: 100vh;
  background-color: #000;
}
.half2 {
  float: right;
  width: 50%;
  height: 100vh;
  background-color: #fff;
}
.header {
  font-family: "Abril Fatface";
  font-size: 4em;
  color: #fff;
  text-decoration: underline;
}
.header:hover {
  text-decoration: underline;
}
article {
  overflow: scroll;
  font-family: "PT Mono";
  margin: 15% 15% 0 15%;
  height: 200px;
  font-size: 1.25em;
}
nav {
  /*overflow: scroll;*/
  height: 50vh;
  margin: 0 4px 0 4px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}



iframe{
  /*position:absolute;*/
  /*top:100px;*/
  /*left:0px;*/
  /*width:85vw;*/
  /*height:85vh;*/

}
div.center{
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100vh;
  padding:50px;
  background-color: rgba(15,15,15,0.75);
}
div.center iframe{
  width:100%;
  height:100%;
    display: block;
     /*margin:20px;*/
}
.close-icon{
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  z-index: 1;
  /*size:40px;*/
}
#back{
  right:0;
  top:0;
  position: absolute;
}
.atTheTop{
  position: absolute;
  top: 0;
  margin-left:-13.7px;
}
@media (max-width: 760px) {
  #parallelogram{
    width:50%;
  }
  
}

.nav-container{
  /*padding:50px;*/
  margin:10px;
  overflow: hidden;
}